/*
Author: Ethan Jezior
Date: 10/30/23
File Name: aapply08.css
*/

/* CSS Reset */
body, main, footer, table {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #f4f9e1;
}

/* Style rule for the container */
#container {
	width: 80%;
	margin: 0 auto;
}

/* Styles the table */
table {
	width: 80%;
	margin: 0 auto;
	border: 3px solid #71881b;
}

/* Collapses the border for table, table-row, table-header, and table-data */
table, tr, th, td {
	border-collapse: collapse;
	padding: 2%;
}

/* Styles the caption element*/
caption {
	font-size: 2em;
	padding: 2%;
	margin-top: 2%;
}

/* Sets the border for table-header and table-data */
th, td {
	border: 1px solid #7188bb;
}

/* Centers table data*/
td {
	text-align: center;
}

/* Styles the background for odd rows*/
tr:nth-child(odd) {
	background-color: #d3e788;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
}