/*All pages------------------------------------------*/
html {
  box-sizing: border-box;
  padding: 1%;
  margin: 1%;
  border: 1px solid #f0f;
  overflow-x: hidden;
  background-color: #444;
}
header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.header {
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  display: block;
  width: 85vw;
  height: auto;
  background-color: #111;
}
nav {
  margin: 5px 5px;
}
nav .logo {
  display: block;
  padding: .5em 1em;
  text-align: center;
  height: 35px;
  width: auto;
  text-decoration: none;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #888;
  text-align: center;
  border: 1px solid #FFF;
}
nav li {
  display: inline-block;
  font-size: 1.25em;
  height: 50px;
  width: auto;
  font-family: Verdana, Arial, sans-serif;
  font-weight: bold;
}
nav li a {
  display: block;
  color: #ff99ff;
  padding: .5em 1em;
  text-align: center;
  background-color: #222;
  text-decoration: none;
}
a.active {
  background-color: #f0f;
  color: #000;
}
nav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
main {
  background-color: #000;
  border: 1px solid #f0f;
  color: #FFF;
  display: block;
  font-size: 1.25em;
  padding: 5px;
  margin: 5px 3px;
}
.indent {
  text-indent: 15px;
}
footer p {
  margin: 5px 3px;
  color:#ff99ff
  background-color: #333;
  border: 2px double #444
}
/*index page------------------------------------------*/
#welcome {
  text-align: center;
  font-size: 30px;
}
/*news page------------------------------------------*/

/*about page------------------------------------------*/
#aboutmain {
  font-size: 1.05em;
}
#animain {
  font-size: 1.05em;
  list-style-type: none;
}
/*projects page------------------------------------------*/
#projects {

}
.project-entry {

}
/*contact page------------------------------------------*/
#contact {
  text-align: center;
}
#contact a {
  text-decoration: none;
  color: #1ad1ff;
}
.map {
  border: 5px solid #ff55ff;
  width: 600px;
  height: 450px;
  loading: lazy;
  referrerpolicy: no-referrer-when-downgrade;
}

