body {
  height: auto;
  border: 1px solid #ff00ff;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

nav {
  border: 1px solid #ff00ff;
  margin: 0px 5px 0px 5px;
  padding: 10px;
  display: block;
}
html {
  border: 1px solid #ff00ff;
  overflow-x: hidden;
  overflow-y: scroll;
}

#main {
  border: 1px solid #ff00ff;
}
